/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
  font-family: 'eenfont';
  src: url('../fonts/eenfont.woff2') format('woff2'),
    url('../fonts/eenfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'finkheavy';
  src: url('../fonts/FinkHeavy.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

button,
summary {
  cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text: #00cfb5;
  --h1-color: #017c74;
  --color-background: rgb(255, 255, 255);
  --blob-color: rgb(249, 214, 191);
  --color-background-black: #1e1c20;
  --time: 0.707s;
}
html {
  overflow-x: hidden;
}

/****************/
/* JOUW STYLING */
/****************/
body {
  font-family: finkheavy, eenfont, sans-serif;
  background-color: var(--color-background);
  margin: 0;
  font-weight: 400;

  position: relative;
}

/****************/
/* Achtergrond blob */
/****************/
body > ul {
  position: relative;
}

body > ul li {
  position: absolute;
  list-style-type: none;
  height: 600px;
  width: 600px;
  z-index: -100;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-shadow: rgb(249, 214, 191, 0.5) 0px 8px 24px;
  /* box-shadow: rgb(130, 204, 163, 0.5) 0px 8px 24px; */
  background-color: var(--blob-color);
  background-color: rgb(130, 204, 163, 0.5);
  animation: blob-animation 40s linear infinite;
}

body > ul li:first-of-type {
  top: -17em;
  left: -3em;
}
body > ul li:last-of-type {
  top: 0;
  left: 100em;
  transform: rotate(145deg);
}

@keyframes blob-animation {
  0% {
    border-radius: 30% 70% 49% 51% / 30% 40% 60% 20%;
  }
  20% {
    border-radius: 40% 60% 30% 60% / 50% 60% 30% 40%;
    transform: translateY(2em);
  }
  40% {
    border-radius: 50% 40% 45% 40% / 55% 70% 20% 30%;
    transform: translateX(1em);
  }
  60% {
    border-radius: 60% 40% 60% 35% / 50% 35% 65% 40%;
    transform: translateX(-1em);
  }
  80% {
    border-radius: 40% 60% 30% 40% / 20% 70% 30% 50%;
    transform: translateY(-2em);
  }
  100% {
    border-radius: 30% 70% 49% 51% / 30% 40% 60% 20%;
  }
}

/****************/
/* Header stylen */
/****************/
header {
  display: flex;
  align-items: center;

  height: 15vh;
  width: 100vw;

  margin-top: 1em;
}

header ul {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 3%;
  /* background-color: rgb(255, 255, 255);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 90em;
  border-radius: 10px; */
}
header ul li {
  list-style-type: none;
  margin: 1em;
}
header ul li img {
  width: 10em;
}
h1 {
  display: flex;
  margin-left: -0.4em;
  flex-wrap: wrap;
  position: relative;
  bottom: -0.1em;
  font-size: 2.5em;
  color: var(--h1-color);
  text-shadow: 1px 3px 1px #8ecfca;
}

/****************/
/* main stylen */
/****************/

form {
  max-width: 40em;
  /* padding: 1.5em; */
  transition: 0.5s;
  height: 90vh;
  overflow: hidden;
  overflow-y: scroll;

  background-color: rgb(255, 255, 255, 0.4);

  border-radius: 10px;
  position: fixed;
  z-index: 1;
  width: 2em;
  top: 10;
  left: 0;
  overflow-x: hidden;
}

form::-webkit-scrollbar {
  display: none;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

form > button {
  height: 50%;
  width: 3em;
  transition: margin-left 0.5s;
  border: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 10;
  background-color: var(--color-text);
  border-radius: 5px;
}
form button:last-of-type {
  top: 60%;
  background-color: var(--color-text);
}
form button img {
  width: 2em;
}
form button:last-of-type img {
  transform: rotate(180deg);
}

form button:hover {
  background-color: #017c74;
}

form > h2 {
  text-align: center;
  font-size: 2em;
  color: black;
  /* position: sticky;
  top: 0;
  background-color: white;
  padding: 2em;
  border-radius: 10px;
  margin: 1em;
  box-shadow: 1px 3px 1px black; */
}

/* form cards */

/* main form ul {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
  gap: 1rem;
}
main ul li {
  list-style-type: none;
}
section.backface-visibility {
  display: grid;
}
section.backface-visibility > div {
  transform-style: preserve-3d;
  display: flex;
  padding: 0.5em;
  transition: 0.6s;
  height: 22em;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  perspective: 40rem;
}
section.backface-visibility > div section:first-of-type {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -60;
  border-radius: 15px;
  background-image: linear-gradient(30deg, transparent, rgb(125, 223, 192) 60%),
    repeating-linear-gradient(
      -45deg,
      rgb(232, 234, 203) 0% 2%,
      rgb(224, 211, 180) 2% 3%,
      rgb(143, 188, 159) 1% 4%
    );
  backface-visibility: hidden;
}
form ul h2 {
  display: grid;
  grid-template-columns: min-content;
  font-size: 1.5em;
  line-height: 1em;
  text-transform: capitalize;
  position: relative;
  top: -4.5em;
  left: -3em;
}
section.backface-visibility > div section:first-of-type img {
  position: absolute;
  right: 1rem;
  top: 6em;
  z-index: -50;
  height: 60%;
  aspect-ratio: 1/1;
}
section.backface-visibility > div section:first-of-type img:nth-of-type(2) {
  position: absolute;
  left: 1.3em;
  top: 17.9em;
  z-index: -40;
  height: 15%;
  aspect-ratio: 1/1;
}
section.backface-visibility > div section:first-of-type p {
  position: absolute;
  left: 1em;
  top: 17em;
  z-index: -50;
  height: 15%;
  width: 7em;
  aspect-ratio: 1/1;
  text-align: right;
}
section.backface-visibility > div section:last-of-type {
  padding: 0.5em;
  background-color: rgb(214, 214, 214);
  border-radius: 0.5em;
  backface-visibility: hidden;
  transform: rotatey(180deg);
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(
    135deg,
    rgb(244, 192, 139) 0 0.2em,
    rgb(246, 203, 162) 0.2em 1em
  );
}
section.backface-visibility div.erIsOpMijGeklikt {
  transform: perspective(100em) rotatey(180deg);
}
li.erIsOpMijGeklikt div {
  transform: perspective(100em) rotatey(180deg);
}
main section form li {
  transform: translateY(2em);
  transition: 0.5s ease-in;
}
.hide {
  opacity: 0;
}
.slide-top {
  opacity: 1;
  transform: translateY(0);
}
p {
  padding: 1em;
  background-color: white;
  border-radius: 10px;
} */

/* main section > ul:empty::after {
  content: "sleep je favo foto's naar dit lijstje (of gebruik de knopjes → boring!)";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 16em;
  text-align: center;
} */

main ul {
  display: grid;

  grid-gap: 1.5em;
  grid-auto-rows: 1fr;
  padding: 1rem;
  background: white;

  grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
}
main ul li {
  transition: var(--time) transform;
  list-style-type: none;
  width: 100%;
  height: 100%;
  transition: z-index, transform calc(var(--time) / 4);
  max-height: 25em;
  transform-style: preserve-3d;
  display: flex;
  padding: 0.5em;
  transition: 0.6s;

  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  perspective: 40rem;

  transform: translateY(2em);
}

li.sortable-ghost {
  cursor: grabbing;
}
main ul li:hover {
  transition-delay: 0s;
  z-index: 1;
}

h2::first-letter {
  text-transform: capitalize;
}

/* form ul li:hover,
form ul li:focus {
  transform: perspective(100em) rotatey(180deg);
} */

main ul li section:first-of-type,
main ul li section:last-of-type {
  backface-visibility: hidden;
  min-width: 100%;
  cursor: grab;
  position: relative;

  align-items: center;
  background-color: white;
  box-sizing: border-box;
  padding: 1em;
  border-radius: 0.25rem;

  justify-content: center;
  align-items: center;

  background-image: linear-gradient(30deg, transparent, rgb(125, 223, 192) 60%),
    repeating-linear-gradient(
      -45deg,
      rgb(232, 234, 203) 0% 2%,
      rgb(224, 211, 180) 2% 3%,
      rgb(143, 188, 159) 1% 4%
    );
  backface-visibility: hidden;
}

main ul li section:last-of-type {
  /* transform: rotatey(-180deg) translate(-100%, 0); */

  background-color: rgb(214, 214, 214);
  border-radius: 0.5em;
  position: absolute;

  backface-visibility: hidden;
  /* transform: rotatey(180deg) translateX(17.3em); */
  transform: rotatey(180deg);
  background-image: repeating-linear-gradient(
    135deg,
    rgb(244, 192, 139) 0 0.2em,
    rgb(246, 203, 162) 0.2em 1em
  );

  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

main li section:last-of-type p {
  font-family: eenfont, sans-serif;
  background-color: white;
  border-radius: 10px;
  padding: 0.7em;
}

main li section:last-of-type h3 {
  font-size: 1.5em;
  margin-bottom: -0.2em;
}

.hide {
  opacity: 0;
}

.slide-top {
  opacity: 1;
  transform: translateY(0);
  /* transition: 0.5s ease-in; */
}
main li.erIsOpMijGeklikt {
  transform: perspective(100em) rotatey(180deg);
}
@media only screen and (max-width: 600px) {
  form ul {
    display: grid;

    grid-gap: 1.5em;

    padding: 1rem;
    background: white;

    grid-template-columns: repeat(auto-fill, minmax(19em, 1fr));
  }

  main ul li {
    transition: var(--time) transform;
    list-style-type: none;
    width: 93vw;
    height: 100%;
    transition: z-index, transform calc(var(--time) / 4);

    transform-style: preserve-3d;
    display: flex;
    padding: 0.7em;
    transition: 0.6s;

    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    perspective: 40rem;

    transform: translateY(2em);
  }
}
main li section:first-of-type > button {
  position: absolute;
  top: 1em;
  right: 1em;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  width: 2em;
  aspect-ratio: 1/1;
  font-size: 1em;
  transition: 0.3s;
  font-weight: 400;
}

main li section:first-of-type > button:hover {
  background-color: #d5e9e3a1;
  border: 2px solid var(--h1-color);
  transform: scale(1.4);
}

main section:first-of-type > img:first-of-type {
  position: relative;
  left: 10%;
  aspect-ratio: 1/1;
  height: 50%;
}
main section:first-of-type > img:last-of-type {
  position: relative;

  height: 10%;
  aspect-ratio: 1/1;
}

main section:first-of-type p {
  position: relative;
}

/****************/
/* main mijn lijstje stylen*/
/****************/

main > section {
  background-color: rgb(1, 124, 116, 0.2);
  height: 81vh;

  transition: margin-left 0.5s;
  border-radius: 10px;
  z-index: 1;
}

main > section h2 {
  position: relative;
  top: 1.2em;
  color: white;
  font-size: 2em;
  text-align: center;
}
main > section ul {
  overflow: hidden;
  overflow-y: scroll;
  width: 90vw;
  position: relative;
  align-content: center;
  background-color: transparent;
  border-radius: 10px;
  position: fixed;
  overflow-y: hidden;
}
ul:empty::after {
  content: 'Sleep je Animal Crossing Art collectie naar dit lijstje';
  position: relative;
  top: 1.2em;
  height: 50em;
  font-size: 1.2em;
  text-align: center;
}
main > section ul li {
  background-color: white;
}
