/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
  font-family: 'eenfont';
  src: url('../fonts/eenfont.woff2') format('woff2'),
    url('../fonts/eenfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'finkheavy';
  src: url('../fonts/FinkHeavy.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

button,
summary {
  cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text: #00cfb5;
  --h1-color: #017c74;
  --color-background: rgb(255, 255, 255);
  --blob-color: rgb(249, 214, 191);
  --color-background-black: #1e1c20;
  --time: 0.707s;
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --green-light: rgb(130, 204, 163, 0.5);
  --text-shadow: #8ecfca;
  --form-background: rgb(255, 255, 255, 0.4);
  --main-section: rgba(175, 130, 26, 0.2);
  --main-color-text: #ed9117;
  --form-color: #ffff;
  --gradient-card: linear-gradient(30deg, transparent, rgb(125, 223, 192) 60%),
    repeating-linear-gradient(
      -45deg,
      rgb(232, 234, 203) 0% 2%,
      rgb(224, 211, 180) 2% 3%,
      rgb(143, 188, 159) 1% 4%
    );
  --color-white: #ffff;
  --color-empty: var(--color-background-black);
}

/****************/
/* Darkmode */
/****************/
.dark-mode {
  --color-text: #1bb991;
  --form-color: rgb(9, 69, 71);
  --h1-color: #dce8e5;
  --color-background: rgb(9, 69, 71);
  --blob-color: rgb(249, 214, 191);
  --main-section: rgb(164, 103, 33);
  --main-color-text: #ff9306;
  --border-card: rgb(28, 217, 170);
  --gradient-card: linear-gradient(30deg, transparent, rgb(90, 165, 140) 60%),
    repeating-linear-gradient(
      -45deg,
      rgb(204, 208, 140) 0% 2%,
      rgb(190, 176, 141) 2% 3%,
      rgb(106, 153, 123) 1% 4%
    );
  --color-empty: #fff;
  transition: 2s;
}

html {
  overflow-x: hidden;
}

/****************/
/* JOUW STYLING */
/****************/
body {
  font-family: finkheavy, eenfont, sans-serif;
  background-color: var(--color-background);
  margin: 0;
  font-weight: 400;

  position: relative;
}

h2 {
  color: var(--color-white);
}

/****************/
/* Header stylen */
/****************/
header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 15vh;
  width: 100vw;
  margin-top: 1em;
  padding: 3%;
}

header a {
  margin: 1em;
}
header img {
  width: 10em;
}
h1 {
  display: flex;
  margin-left: -0.4em;
  flex-wrap: wrap;
  position: relative;
  bottom: -0.1em;
  font-size: 2.5em;
  color: var(--h1-color);
  text-shadow: 1px 3px 1px var(--text-shadow);
}

/* Darkmode button*/
header button {
  border: none;
  padding: 1em;
  margin-left: auto;
  border-radius: 5px;
  background-color: var(--main-color-text);
  color: var(--color-white);
}

header button:hover {
  background-color: var(--color-background-black);
}

/****************/
/* main stylen */
/****************/

form,
main > ul {
  transition: 0.5s;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--form-color);
  border-radius: 10px;

  position: fixed;
  max-width: 40em;
  height: 90vh;
  width: 2em;
  top: 10;
  left: 0;
  z-index: 1;
}
main > ul {
  height: 0;
}

form::-webkit-scrollbar,
main > ul::-webkit-scrollbar {
  display: none;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/*********************/
/* form */
/*********************/
/* form sidebutton */
form > button {
  height: 50%;
  width: 3em;
  transition: margin-left 0.5s;
  border: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 10;
  background-color: var(--color-text);
  border-radius: 5px;
}

form button:last-of-type {
  top: 60%;
}
form button img {
  width: 2em;
}
form button:last-of-type img {
  transform: rotate(180deg);
}

form button:hover,
form button:focus {
  background-color: var(--h1-color);
}

form > h2 {
  text-align: center;
  font-size: 2em;
  color: var(--h1-color);
}
form ul:empty::after {
  content: 'klik op knopje om mg te laden';
  position: relative;
}
main > button {
  font-size: 1em;
  border: none;
  padding: 1em;
  border-radius: 5px;
  position: absolute;
  display: none;
  top: 11em;
  left: 1.5em;
  z-index: 60;
  background-color: var(--main-color-text);
  color: var(--color-white);
}
main > button:hover {
  background-color: var(--color-text);
}

/* favolijst */
main ul {
  display: grid;
  grid-gap: 1.5em;
  grid-auto-rows: 1fr;
  padding: 1rem;
  background: var(--color-background);

  grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
}

form ul::after {
  content: 'Klik op de haal Artcrossing om alle Art list op te halen!';
  position: relative;
  top: 10em;

  left: 5%;
}

main ul li {
  transition: var(--time) transform;
  list-style-type: none;
  width: 100%;
  height: 100%;
  transition: z-index, transform calc(var(--time) / 4);
  background-color: var(--color-white);
  transform-style: preserve-3d;
  display: flex;
  padding: 0.5em;
  transition: 0.6s;
  min-height: 24em;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  perspective: 40rem;

  transform: translateY(2em);
}

li.sortable-ghost {
  cursor: grabbing;
}
main ul li:hover {
  transition-delay: 0s;
  z-index: 1;
  box-shadow: rgba(238, 133, 5, 0.656) 0px 6px 12px -2px,
    rgba(226, 121, 9, 0.564) 0px 3px 7px -3px;
}

h2::first-letter {
  text-transform: capitalize;
}

/*********************/
/* card voor en achterkant */
/*********************/
main ul li section:first-of-type,
main ul li section:last-of-type {
  backface-visibility: hidden;
  min-width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 1em;
  border-radius: 0.25rem;

  background-color: var(--color-background);
  background-image: var(--gradient-card);
  backface-visibility: hidden;
  cursor: grab;
  transform-style: preserve-3d;
}

main ul li section:last-of-type {
  background-color: rgb(214, 214, 214);
  border-radius: 0.5em;
  position: absolute;

  backface-visibility: hidden;

  transform: rotatey(180deg);
  background-image: repeating-linear-gradient(
    135deg,
    rgb(244, 192, 139) 0 0.2em,
    rgb(246, 203, 162) 0.2em 1em
  );

  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

main li section:last-of-type p {
  font-family: eenfont, sans-serif;
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 0.7em;
}

main li section:last-of-type h3 {
  font-size: 1.5em;
  margin-bottom: -0.2em;
}
/*********************/
/* intersection observer */
/*********************/
.hide {
  opacity: 0;
}

.slide-top {
  opacity: 1;
  transform: translateY(0);
}
main li.erIsOpMijGeklikt {
  transform: perspective(100em) rotatey(180deg);
}

main li section:first-of-type button:first-of-type {
  position: absolute;
  top: 1em;
  right: 1em;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  width: 2em;
  aspect-ratio: 1/1;
  font-size: 1em;
  transition: 0.3s;
  font-weight: 400;
}

main li section:first-of-type button:hover {
  background-color: #d5e9e3a1;
  border: 2px solid var(--h1-color);
  transform: scale(1.4);
}

main form section:first-of-type > h2 {
  position: relative;
  z-index: 30;
  width: 50%;
  top: 0;
  font-size: 2.3em;
  margin-left: 0.3em;
  text-shadow: 2px 2px var(--color-background-black);
  color: var(--color-white);
}

main section:first-of-type > img:first-of-type {
  position: absolute;
  left: 0.7em;
  top: 3em;
  aspect-ratio: 1/1;
  height: 16em;
}

main section:first-of-type > img:last-of-type {
  position: absolute;

  height: 20%;
  aspect-ratio: 1/1;
}

main section:first-of-type > p {
  position: absolute;
  bottom: 0em;
  right: 3.5em;
  font-size: 1.5em;
  width: 5em;
  background-color: var(--color-white);
  padding: 0.5em;
  border-radius: 10px;

  text-align: right;
}

main section:first-of-type img:last-of-type {
  position: absolute;
  bottom: 1.8em;
  left: 5em;
  z-index: 10;
  height: 12%;
}

/****************/
/* main mijn lijstje stylen*/
/****************/

main > section {
  background-color: var(--main-section);
  height: 89vh;
  margin-top: -2em;
  transition: margin-left 0.5s;
  border-radius: 10px;
  z-index: 1;
}

main > section h2 {
  position: relative;
  top: 1.2em;
  color: var(--main-color-text);
  font-size: 2em;
  text-align: center;
}
main > section ul {
  overflow-x: hidden;
  overflow: hidden;
  overflow-y: scroll;

  position: relative;
  align-content: center;
  background-color: transparent;
  border-radius: 10px;
}
main ul:empty::after {
  content: 'Sleep je Animal Crossing Art collectie naar dit lijstje';
  position: relative;
  top: 1.2em;
  height: 50em;
  left: 15vw;
  font-size: 1.2em;
  text-align: center;
  width: 60%;
  transform: translate(5%);
  color: var(--color-empty);

  animation: jump 1s infinite ease-in;
  animation-delay: 6s;
}

@keyframes jump {
  0% {
    transform: translateY(0em);
  }
  50% {
    transform: translateY(-0.5em);
  }
  100% {
    transform: translateY(0em);
  }
}
main > section ul li {
  background-color: var(--color-background);
}

main > section ul li {
  background-color: var(--main-color-text);
}

main > section ul li h2 {
  position: relative;
  z-index: 30;
  width: 50%;
  top: 0;
  font-size: 2.3em;
  margin-left: 0.3em;
  text-shadow: 2px 2px var(--color-background-black);
  color: var(--color-white);
}
main > section ul li section:first-of-type {
  background-image: linear-gradient(30deg, transparent, rgb(215, 176, 58) 60%),
    repeating-linear-gradient(
      -45deg,
      rgb(232, 234, 203) 0% 2%,
      rgb(224, 211, 180) 2% 3%,
      rgb(204, 152, 56) 1% 4%
    );
}

/****************/
/* add button*/
/****************/

li > section:first-of-type button:last-of-type {
  position: absolute;
  background-color: white;
  top: 80%;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 10px;
  font-size: 1.5em;

  transition: 0.1s;
}
form li button:last-of-type:after {
  content: '☑️';
}

form li button:last-of-type:hover:after {
  content: '✅';
}
/****************/
/* delete button */
/****************/
main ul li > button:last-of-type::after {
  content: '❌';
}
main ul li > button:last-of-type {
  position: absolute;
  background-color: white;
  top: 80%;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 10px;
  font-size: 1.5em;

  transition: 0.1s;
}
main ul li > button:last-of-type:hover {
  font-size: 2em;
}
/****************/
/* Loading */
/****************/

form > div {
  position: absolute;
  left: 3vw;
  top: 25vh;

  opacity: 0;
  transition: 0.15s;
}

form > div.loading {
  opacity: 1;
  z-index: 30;
  transition: 0.3s 0.5s;
}
form > div img {
  animation: loader 3s linear infinite;
  transform: rotateY(45deg);
}
@keyframes loader {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/****************/
/* cursor */
/****************/

div.cursors div {
  position: absolute;
  top: 300px;
  left: 300px;
  width: 1em;
  aspect-ratio: 1/1;
  background-color: var(--main-color-text);
  border-radius: 50%;
  z-index: 1000;
  pointer-events: none;
  transform: translate(-70%, -120%);
  opacity: 0.8;
}

div.cursors div span {
  position: absolute;
  top: 30%;
  width: 2em;
  text-align: center;
  left: 20%;
  color: rgb(247, 247, 247);
  font-size: 1.2em;
}

/*********************/
/* media vooor kleine schermen */
/*********************/
@media only screen and (max-width: 600px) {
  form ul {
    display: grid;
    grid-gap: 1.5em;

    padding: 1rem;
    background: var(--color-background);
    grid-template-columns: repeat(auto-fill, minmax(19em, 1fr));
  }

  main ul li {
    transition: var(--time) transform;
    list-style-type: none;
    width: 86vw;
    height: 100%;

    transform-style: preserve-3d;
    display: flex;
    padding: 0.7em;
    transition: 0.6s;

    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    perspective: 40rem;
    transform: translateY(2em);
  }
  div.cursors div {
    display: none;
  }

  div.cursors div span {
    display: none;
  }

  main > section ul li {
    width: 24em;
  }
  main section:first-of-type img:last-of-type {
    position: absolute;
    bottom: 1.8em;
    left: 10.5em;
    z-index: 10;
    height: 12%;
  }
  main section:first-of-type > img:first-of-type {
    position: absolute;
    left: 3.5em;
    top: 2.5em;
    aspect-ratio: 1/1;
    height: 16em;
  }
}
